@page 
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<h3>Vehicle Made table</h3>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name or abrv:
            <input type="text" name="SearchStringMade" value="@Model.SortingMadeHelper.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<form method = "post">
    <table class = "table">              
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-sortOrderMades="@Model.SortingMadeHelper.IdSort"
                    asp-route-currentFilterMade="@Model.SortingMadeHelper.CurrentFilter">
                    @Html.DisplayNameFor(model => model.PaginatedVehicleMakes[0].Id)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrderMades="@Model.SortingMadeHelper.NameSort"
                    asp-route-currentFilterMade="@Model.SortingMadeHelper.CurrentFilter">
                    @Html.DisplayNameFor(model => model.PaginatedVehicleMakes[0].Name)
                </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrderMades="@Model.SortingMadeHelper.AbrvSort"
                    asp-route-currentFilterMade="@Model.SortingMadeHelper.CurrentFilter">
                    @Html.DisplayNameFor(model => model.PaginatedVehicleMakes[0].Abrv)
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (!await Model.vehicleService.VehicleMakeIsNull())
            {
               @foreach (var made in Model.PaginatedVehicleMakes)
                {
                <tr>
                    <td>@made.Id</td>
                    <td>@made.Name</td>
                    <td>@made.Abrv</td>
                    <td>
                        <button type ="submit" asp-page = "./UpdateVehicleMades"
                            asp-route-Id = "@made.Id">Update</button>                   
                   
                        <button type ="submit" asp-page-handler = "Delete"
                            asp-route-Id = "@made.Id" 
                            asp-route-TrueIfModel = "@false">Delete</button>
                    </td>
                </tr>
                }  
            }                                                       
        </tbody>
    </table> 
    @{
    var prevDisabled = !Model.PaginatedVehicleMakes.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedVehicleMakes.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrderMades="@Model.SortingMadeHelper.CurrentSort"
   asp-route-pageIndexMade="@(Model.PaginatedVehicleMakes.PageIndex - 1)"
   asp-route-currentFilterMade="@Model.SortingMadeHelper.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrderMades="@Model.SortingMadeHelper.CurrentSort"
   asp-route-pageIndexMade="@(Model.PaginatedVehicleMakes.PageIndex + 1)"
   asp-route-currentFilterMade="@Model.SortingMadeHelper.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
</form>


<h3>Vehicle Model table</h3>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name or abrv:
            <input type="text" name="SearchStringModel" value="@Model.SortingModelHelper.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<form method = "post">
    <table class = "table">
        
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-SortOrderModel="@Model.SortingModelHelper.IdSort"
                    asp-route-currentFilterModel="@Model.SortingModelHelper.CurrentFilter">
                    @Html.DisplayNameFor(model => model.PaginatedVehicleModels[0].Id)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SortOrderModel="@Model.SortingModelHelper.NameSort"
                    asp-route-currentFilterModel="@Model.SortingModelHelper.CurrentFilter">
                    @Html.DisplayNameFor(model => model.PaginatedVehicleModels[0].Name)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SortOrderModel="@Model.SortingModelHelper.AbrvSort"
                    asp-route-currentFilterModel="@Model.SortingModelHelper.CurrentFilter">
                    @Html.DisplayNameFor(model => model.PaginatedVehicleModels[0].Abrv)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SortOrderModel="@Model.SortingModelHelper.ForeignIdSort"
                    asp-route-currentFilterModel="@Model.SortingModelHelper.CurrentFilter">
                    VehicleMakeID
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (var vehicleModel in Model.PaginatedVehicleModels)
            {
                <tr>
                    <td>@vehicleModel.Id</td>
                    <td>@vehicleModel.Name</td>
                    <td>@vehicleModel.Abrv</td>
                    <td>@vehicleModel.MakeId</td>
                    <td>
                        <button type ="submit" asp-page = "./UpdateVehicleModels"
                            asp-route-Id = "@vehicleModel.Id">Update</button>                   
                   
                        <button type ="submit" asp-page-handler = "Delete"
                            asp-route-Id = "@vehicleModel.Id" 
                            asp-route-TrueIfModel = "@true">Delete</button>
                    </td>
                </tr>
            }  
                   
        </tbody>
    </table>
        @{
    var prevDisabledModel = !Model.PaginatedVehicleModels.HasPreviousPage ? "disabled" : "";
    var nextDisabledModel = !Model.PaginatedVehicleModels.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrderModel="@Model.SortingModelHelper.CurrentSort"
   asp-route-pageIndexModel="@(Model.PaginatedVehicleModels.PageIndex - 1)"
   asp-route-currentFilterModel="@Model.SortingMadeHelper.CurrentFilter"
   class="btn btn-primary @prevDisabledModel">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrderModel="@Model.SortingMadeHelper.CurrentSort"
   asp-route-pageIndexModel="@(Model.PaginatedVehicleModels.PageIndex + 1)"
   asp-route-currentFilterModel="@Model.SortingModelHelper.CurrentFilter"
   class="btn btn-primary @nextDisabledModel">
    Next
</a>
</form>
<form method ="post" >
    <h4>Options</h4>
    <button class="btn btn-primary" asp-page = "./MadeCreator">Create Vehicle Made</button>
    
     @if (!await Model.vehicleService.VehicleMakeIsNull())
    {
        <button class="btn btn-primary" asp-page-handler="Id" type="submit">Create Vehicle Model</button>     
		<select  asp-for = "SelectedId" asp-items="Model.VehicleMadesInList"></select>       
    }
</form>
   
   
    
    

